<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href={{
      "styles/app.css"
    }}>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produit</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div class="nav">
      <nav>
        <ul class="navbar">
          <li><a href="/">Accueil</a></li>
          {% if app.user %}
          <li><a href="/formation">Boutique</a></li>
          <li><a class="active" href="/cart">Panier</a></li>
          <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
          {% endif %} {% else %}
          <li><a href="/register">S'inscrire</a></li>
          <li><a href="/login">Se connecter</a></li>
          {% endif %}
        </ul>
      </nav>
      <img src={{ asset("assets/logo.jpeg") }} width="10%" alt="Logo" />
    </div>
    <br />

    <h1>Mon Panier</h1>

    {% for item in cart %}

    <div class="form-container">
      <div class="bloc_cart">
        <img
          src="{{ asset('assets/' ~ item.lesson.image ) }}"
          width="10%"
          alt="{{ item.lesson.title }}"
          style="border: 1px solid black"
        />

        <h2>{{ item.lesson.title }}</h2>
        <p>Type : {{ item.lesson.type }}</p>
        <p>Prix : {{ item.lesson.price }} €</p>

        <div class="btn_cart">
          <a
            class="btn_delete_cart"
            href="{{ path('app_cart_remove', { id: item.lesson.id }) }}"
            >Retirer du panier</a
          >
        </div>
      </div>
    </div>
    {% else %}
    <p>Votre panier est vide.</p>
    {% endfor %}
    <div class="cart_finish">
      <div class="cart_choice">
        <div class="total_price">
          <h2>TOTAL : {{ totalPrice|number_format(2, ',', ' ') }} €</h2>
        </div>
        <button class="btn_pay">
          <a id="checkout-button">FINALISER MA COMMANDE</a>
        </button>
        {% block javascripts %}
        <script type="text/javascript">
          var stripe = Stripe(
            "pk_test_51Q2uEVCybVMxBZRKyHMHVOJ78qmmrsj7Xwabaxk3GhMKi0id1SS1s4N41QjSL5i7W3eieDHyMvwcKNFHcOLPhaLE00AqRHhkXg"
          );
          var checkoutButton = document.getElementById("checkout-button");

          checkoutButton.addEventListener("click", function () {
            fetch("/create-checkout-session", {
              method: "POST",
            })
              .then(function (response) {
                return response.json();
              })
              .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
              })
              .then(function (result) {
                if (result.error) {
                  console.error("Error:", error);
                }
              });
          });
        </script>
        {% endblock %}
      </div>
    </div>
  </body>
</html>
