<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />

    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Élève</title>
  </head>
  <body>
    <div class="nav">
      <nav>
        <div class="navlinks">
          <ul class="navbar">
            <li><a href="/">Accueil</a></li>
            {% if app.user %}
            <li><a href="/formations">Boutique</a></li>
            <li><a href="/cart">Panier</a></li>

            {% if is_granted('ROLE_STUDENT') %}
            <li><a href="{{ path('app_student') }}">Élèves</a></li>
            {% endif %}
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
            {% endif %} {% else %}
            <li><a class="active" href="/register">S'inscrire</a></li>
            <li><a href="/login">Se connecter</a></li>
            {% endif %}
          </ul>
        </div>
        <img
          src="{{ asset('assets/menu.png') }}"
          alt="menu-hamburger"
          class="menu-hamburger"
        />
      </nav>
      <img src={{ asset("assets/Logo.jpeg") }} width="10%" alt="Logo"
      class="navbarlogo"/>
    </div>
    <br />

    {% if is_granted('ROLE_CERTIFICATE') %}
    <h1>Certifié : <strong>Knowledge Learning </strong></h1>
    {% endif %}

    <div class="student_page">
      {% if user %}
      <h1 class="hello_student">
        Bonjour {{ user.username }}, bienvenue sur la page élève !
      </h1>
      <br />
      <p>
        Ici tu retrouveras tout t'es cours ! <br />
        clique sur "GO !" Afin de commencer un chapitre !
      </p>
      {% if is_granted('ROLE_CUISINIER') %}
      <td>FORMATION : CUISINIER</td>
      {% endif %}{% if is_granted('ROLE_INFORMATIQUE') %}
      <td>FORMATION : INFORMATICIEN</td>
      {% endif %} {% if is_granted('ROLE_JARDINIER') %}
      <td>FORMATION : JARDINIER</td>
      {% endif %} {% if is_granted('ROLE_MUSIQUE') %}
      <td>FORMATION : MUSICIEN</td>
      {% endif %} {% endif %}
    </div>
    <div class="devoir">
      <div class="exercice">
        <h1>Devoir 1</h1>
        <p class="exercice_text">Débutant</p>
        <button class="exercice_button">GO !</button>
      </div>
      <div class="exercice">
        <h1>Devoir 2</h1>
        <p class="exercice_text">Intermédiaire</p>
        <button class="exercice_button">GO !</button>
      </div>
      <div class="exercice">
        <h1>Devoir 3</h1>
        <p class="exercice_text">Expert</p>
        <button class="exercice_button">GO !</button>
      </div>
    </div>
    <div class="finished_div">
      <div class="finished">
        <h1>Finir ma formation</h1>
        <p class="exercice_text">Quizz</p>
        <button class="finished_button">GO !</button>
      </div>
    </div>
  </body>
  <script>
    const menuHamburger = document.querySelector(".menu-hamburger");
    const navLinks = document.querySelector(".navlinks");

    menuHamburger.addEventListener("click", () => {
      navLinks.classList.toggle("mobile-menu");
    });
  </script>
</html>
