<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails du produit</title>
  </head>
  <body>
    <div class="nav">
      <nav>
        <ul class="navbar">
          <li><a class="active" href="/">Accueil</a></li>
          <li><a href="/formation">Formations</a></li>
          {% if app.user %}
          <li><a href="/cart">Panier</a></li>
          {% if is_granted('ROLE_STUDENT') %}
          <li><a href="{{ path('app_student') }}">Leçon</a></li>
          {% endif %}
          <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
          {% endif %} {% else %}

          <li><a href="/register">S'inscrire</a></li>
          <li><a href="/login">Se connecter</a></li>
          {% endif %}
        </ul>
      </nav>
      <img src={{ asset("assets/Logo.jpeg") }} width="10%" alt="Logo" />
    </div>
    <br />

       {% if is_granted('ROLE_CERTIFICATE') %}
       <h1>Félicitations ! Vous avez obtenue votre certification !</h1>
       {% endif %}
       {% if is_granted('ROLE_INFORMATIQUE') %}

    <div class="showing_card">
        
        <div class="">
         {% for formation in formation %} {% if formation.id
        == 2 %}
        <tr>
          <img src="{{
            asset("assets/informatique.png")
          }}" width="25%" alt="musique" />
          <br />
          <td>{{ formation.title }}</td>
          
          <br />
          <div class="chapter">
            <div class="chapter1">
                <p>Lorem Ipsum Dolor</p>
                
   <button><a href="{{ path('app_chapter') }}">Commencer</a></button>
            </div>
            <div class="chapter2">
   <p>Lorem Ipsum Dolor</p>
   
   <button><a href="{{ path('app_chapter') }}">Commencer</a></button>
            </div>
            <div class="chapter3">
   <p>Lorem Ipsum Dolor</p>
   <button><a href="{{ path('app_chapter') }}">Commencer</a></button>
            </div>
            <div class="chapter4">
   <p>Lorem Ipsum Dolor</p>
   <button><a href="{{ path('final_chapter') }}">Vers le diplôme</a></button>
            </div>
          </div>
        </tr>
        {% endif %}
        {% endfor %}
        <br>
        {% endif %}

               {% if is_granted('ROLE_CUISINIER') %}

    <div class="showing_card">
        <div class="product_card">
         {% for formation in formation %} {% if formation.id
        == 4 %}
        <tr>
          <img src="{{
            asset("assets/cuisinier.png")
          }}" width="100%" alt="musique" />
          <br />
          <td>{{ formation.title }}</td>
          
          <br />
        </tr>
        {% endif %}
        {% endfor %}
        <br>
        {% endif %}

               {% if is_granted('ROLE_JARDINIER') %}

    <div class="showing_card">
        <div class="product_card">
         {% for formation in formation %} {% if formation.id
        == 3 %}
        <tr>
          <img src="{{
            asset("assets/jardinage.png")
          }}" width="100%" alt="musique" />
          <br />
          <td>{{ formation.title }}</td>
          
          <br />
        </tr>
        {% endif %}
        {% endfor %}
        <br>
        {% endif %}

               {% if is_granted('ROLE_MUSIQUE') %}

    <div class="showing_card">
        <div class="product_card">
         {% for formation in formation %} {% if formation.id
        == 1 %}
        <tr>
          <img src="{{
            asset("assets/musique.png")
          }}" width="100%" alt="musique" />
          <br />
          <td>{{ formation.title }}</td>
          
          <br />
        </tr>
        {% endif %}
        {% endfor %}
        <br>
        {% endif %}
        
      </div>
  </body>
</html>
