<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href={{
      "styles/app.css"
    }}>
    
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="nav">
      <nav>
        <ul class="navbar">
          <li><a class="active" href="/">Accueil</a></li>
          <li><a href="/formation">Formations</a></li>
          {% if app.user %}
          <li><a href="/cart">Panier</a></li>
             {% if is_granted('ROLE_STUDENT') %}
          <li><a href="{{ path('app_student') }}">Leçon</a></li>
          {% endif %}
          <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
          {% endif %}
         {% else %}
          
          <li><a href="/register">S'inscrire</a></li>
          <li><a href="/login">Se connecter</a></li>
          {% endif %}
        </ul>
      </nav>
      <img src={{ asset("assets/Logo.jpeg") }} width="10%" alt="Logo" />
    </div>
    <br />
   
      </div>
    </div>

    <h1 style="font-size: 15px; font-weight: 200;">Pour accéder à nos services, pensez à créer un compte et vérifier votre mail. <br> Dans le cas contraire, l'accès à nos services vous sera refusé.</h1>
    <a href="/login" style="font-weight: bold;">J'ai un compte</a> <br> <a href="/register" style="font-weight: bold;">Je m'inscrit</a>

  </body>
</html>
