<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href={{
      "styles/app.css"
    }}>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produit</title>
  </head>
  <body>
    <div class="nav">
      <nav>
        <ul class="navbar">
          <li><a href="/">Accueil</a></li>
          {% if app.user %}
          <li><a class="active" href="/shop">Boutique</a></li>
          <li><a href="/cart">Panier</a></li>
          <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
          {% endif %} {% else %}
          <li><a href="/register">S'inscrire</a></li>
          <li><a href="/login">Se connecter</a></li>
          {% endif %}
        </ul>
      </nav>
      <img src={{ asset("assets/Logo.png") }} width="10%" alt="Logo" />
      <h1 class="slogan">Don't compromise on your look</h1>
    </div>
    <br />
    <div class="all">
      <div class="container_price">
        <div class="choice_price"><p>Fourchette de prix</p></div>
        <select class="options" id="options" name="options" size="3">
          <option value="lowprice">10 à 29€</option>
          <option value="midprice">30 à 35€</option>
          <option value="highprice">35 à 50€</option>
        </select>
      </div>
      <br />
      {% block body %} {% if products %} {% for sweatshirt in products %}

      <section>
        <div class="product_card">
          <tr>
            <img src={{
              asset("assets/1.jpeg")
            }}
            width="100%" alt="blackbelt_sweatshirt" />
            <br />
            <td>{{ sweatshirt.name }}</td>

            <br />
            <td>{{ sweatshirt.price }}</td>
            <button class="show_product"><a href="#">Voir</a></button>
            <br />
          </tr>
        </div>
      </section>

      {% endfor %} {% else %}
      <tr>
        <td colspan="2">Pas de sweatshirt pour le moment</td>
      </tr>
      {%endif%} {% endblock body %}
    </div>
  </body>
</html>
