<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    <link rel="stylesheet" href={{
      "styles/app.css"
    }}>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
       <div class="nav">
      <nav>
        <div class="navlinks">
          <ul class="navbar">
            <li><a href="/">Accueil</a></li>
            {% if app.user %}
            <li><a href="/formations">Boutique</a></li>
            <li><a href="/cart">Panier</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
            {% endif %} {% else %}
            <li><a class="active" href="/register">S'inscrire</a></li>
            <li><a href="/login">Se connecter</a></li>
            {% endif %}
          </ul>
        </div>
        <img
          src="{{ asset('assets/menu.png') }}"
          alt="menu-hamburger"
          class="menu-hamburger"
        />
      </nav>
      <img src={{ asset("assets/Logo.jpeg") }} width="10%" alt="Logo"
      class="navbarlogo"/>
    </div>
    <br />
   
      </div>
    </div>


    
      <section>
        <div class="show_product2">
        <div class="product_card">
         {% for formation in formation %} {% if formation.id
        == 1 %}
        <tr>
          <img src="{{
            asset("assets/musique.png")
          }}" width="100%" alt="musique" />
          <br />
          <td>{{ formation.title }}</td>
          {% if app.user %}
          <button class="show_product"><a href="{{ path('formation_show', {'id': formation.id}) }}">Voir</a></button>
          {% endif %}
          <br />
        </tr>
        {% endif %}
        {% endfor %}
        <br>
        
      </div>
       <div class="product_card">
         {% for formation in formation %} {% if formation.id
        == 2 %}
        <tr>
          <img src="{{
            asset("assets/informatique.png")
          }}" width="100%" alt="informatique" />
          <br />
          <td>{{ formation.title }}</td>
          {% if app.user %}
          <button class="show_product"><a href="{{ path('formation_show', {'id': formation.id}) }}">Voir</a></button>
          {% endif %}
          <br />
        </tr>
        {% endif %}
        {% endfor %} 
        <br>
        
        
        </div>
          <div class="product_card">
         {% for formation in formation %} {% if formation.id
        == 3 %}
        <tr>
          <img src="{{
            asset("assets/jardinage.png")
          }}" width="100%" alt="Jardinage" />
          <br />
          <td>{{ formation.title }}</td>
          {% if app.user %}
          <button class="show_product"><a href="{{ path('formation_show', {'id': formation.id}) }}">Voir</a></button>
          {% endif %}
          <br />
        </tr>
        {% endif %}
        {% endfor %} 
        <br>
        
        
        </div>
          <div class="product_card">
         {% for formation in formation %} {% if formation.id
        == 4 %}
        <tr>
          <img src="{{
            asset("assets/cuisinier.png")
          }}" width="100%" alt="cuisine" />
          <br />
          <td>{{ formation.title }}</td>
          {% if app.user %}
          <button class="show_product"><a href="{{ path('formation_show', {'id': formation.id}) }}">Voir</a></button>
          {% endif %}
          <br />
        </tr>
        {% endif %}
        {% endfor %} 
        <br>
        
        
        </div>
      
       
       
      </section>
  </body>
   <script>
    const menuHamburger = document.querySelector(".menu-hamburger");
    const navLinks = document.querySelector(".navlinks");

    menuHamburger.addEventListener("click", () => {
      navLinks.classList.toggle("mobile-menu");
    });
  </script>
</html>
