<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails du produit</title>
  </head>
  <body>
    <div class="product_card">
      {% if product is defined and product %}
      <img
        src="{{ asset('assets/9.jpeg') }}"
        width="100%"
        alt="pokeball_sweatshirt"
      />
      <br />
      <p>{{ product.name }}</p>
      <br />
      <p>{{ product.price }}</p>
      <br />
      <p>{{ product.sizeXS }}</p>
      {% else %}
      <p>Pas de sweatshirt pour le moment</p>
      {% endif %}
    </div>
    <a href="{{ path('app_products') }}">Retour aux articles</a>
  </body>
</html>
