<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails du produit</title>
  </head>
  <body>
    <div class="nav">
      <nav>
        <ul class="navbar">
          <li><a class="active" href="/">Accueil</a></li>
          <li><a href="/formation">Formations</a></li>
          {% if app.user %}
          <li><a href="/cart">Panier</a></li>
          {% if is_granted('ROLE_STUDENT') %}
          <li><a href="{{ path('app_student') }}">Leçon</a></li>
          {% endif %}
          <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
          {% endif %} {% else %}
          <li><a href="/register">S'inscrire</a></li>
          <li><a href="/login">Se connecter</a></li>
          {% endif %}
        </ul>
      </nav>
      <img src="{{ asset('assets/Logo.jpeg') }}" width="10%" alt="Logo" />
    </div>
    <br />

    <div class="showing_card">
      {% if formation.id %}
      <div class="details_card">
        <div class="card_img">
          <img
            src="{{ asset('assets/' ~ formation.image) }}"
            alt="formation_musique"
          />
        </div>
        <br />
        <div class="product_details">
          <div class="center_details">
            <div>
              <p class="details">{{ formation.title }}</p>
              <br />
              <br />
              {% if lessons is defined and lessons|length > 0 %}
              <h3>Leçons de cette formation :</h3>
              <ul>
                {% for lesson in lessons %}
                <li>{{ lesson.title }}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>Aucune leçon disponible pour cette formation.</p>
              {% endif %}
              <p></p>
            </div>
            <div class="select_details">
              <form
                method="get"
                action="{{ path('app_cart_add', { id: formation.id }) }}"
              >
                <button class="add_to_card">Ajouter au Panier</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <p>Pas de formation pour le moment</p>
      {% endif %}
    </div>

    <br />
  </body>
</html>
