<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails du produit</title>
  </head>
  <body>
    <div class="nav">
      <nav>
        <ul class="navbar">
          <li><a href="/">Accueil</a></li>
          {% if app.user %}
          <li><a class="active" href="/products">Boutique</a></li>
          <li><a href="/cart">Panier</a></li>
          <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
          {% endif %} {% else %}
          <li><a href="/register">S'inscrire</a></li>
          <li><a href="/login">Se connecter</a></li>
          {% endif %}
        </ul>
      </nav>
      <img src={{ asset("assets/Logo.png") }} width="10%" alt="Logo" />
      <h1 class="slogan">Don't compromise on your look</h1>
    </div>
    <br />
    <div class="showing_card">
      {% if product is defined and product %}
      <div class="details_card">
        <div class="card_img">
          <img src="{{ asset("assets/1.jpeg") }}" width="60%"
          alt="pokeball_sweatshirt" style="padding: 50px; padding-left: 100px"
          />
        </div>
        <br />
        <div class="product_details">
          <div class="center_details">
            <p class="details">{{ product.name }}</p>
            <br />
            <p class="details">{{ product.price }}</p>
            <br />
            <div class="select_details">
              <select class="select_size" name="size" id="size" size="5">
                <optgroup label="Séléctionner une taille">
                  <option value="sizeXS">Taille XS</option>
                  <option value="sizeS">Taille S</option>
                  <option value="sizeM">Taille M</option>
                  <option value="sizeL">Taille L</option>
                  <option value="sizeXL">Taille XL</option>
                </optgroup>
              </select>
              <br />
              <button class="add_to_card">Ajouter au panier</button>
            </div>
            {% else %}
            <p>Pas de sweatshirt pour le moment</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <br />
  </body>
</html>
