<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

    <link rel="stylesheet" href={{
      "styles/app.css"
    }}>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produit</title>
  </head>
  <body>
    <div class="nav">
      <nav>
        <ul class="navbar">
          <li><a href="/">Accueil</a></li>
          {% if app.user %}
          <li><a href="/formation">Boutique</a></li>
          <li><a href="/cart">Panier</a></li>
          <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li>
            <a class="active" href="{{ path('app_admin') }}">Tableau de bord</a>
          </li>
          {% endif %} {% else %}
          <li><a href="/register">S'inscrire</a></li>
          <li><a href="/login">Se connecter</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="bloc">
        <div class="logo_section">
          <img src={{ asset("assets/logo.jpeg") }} width="100%" alt="Logo" />
          <br />
        </div>
        <div class="bloc2">
          <h1>Back-Office</h1>
        </div>
      </div>
    </div>
    <br />
    <div class="administration">
      <div class="user">
        <h1>Liste des utilisateurs</h1>
        <strong>
        <a href="{{ path('admin_users') }}">CLIQUER ICI POUR GERER LES UTILISATEURS</a> </strong>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Email</th>
              <th>Création</th>
              <th>Mis à jour</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>
                {{ user.createdAt|date('d/m/Y') }}
              </td>
              <td>
                {{ user.updatedAt ? user.updatedAt|date('d/m H:i') : 'Jamais' }}
              </td>
              <td>
                <a href="{{ path('admin_user_edit', { id: user.id }) }}"
                  >Modifier</a
                >
                <br />
                
                </form>
                <br />
                <li></li>
              </td>
            </tr>
            {% else %}
            <tr>
              <td colspan="3">Aucun utilisateur trouvé.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="contenue"><h1>Contenues</h1></div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Formation</th>
            <th>Création</th>
            <th>Mis à jour</th>
            <th>Crée par</th>
            <th>Mis à jour par</th>
          </tr>
        </thead>
        <tbody>
          {% for formation in formations %}
          <tr>
            <td>{{ formation.id }}</td>
            <td>{{ formation.title }}</td>
            <td>
              {{ formation.createdAt|date('d/m/Y') }}
            </td>
            <td>
              {{ formation.updatedAt ? formation.updatedAt|date('d/m H:i') : 'Jamais' }}
            </td>
            <td>x</td>
            <td>x</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="3">Aucune formation trouvé.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Leçon</th>
            <th>Prix</th>
            <th>Création</th>
            <th>Mis à jour</th>
            <th>Crée par</th>
            <th>Mis à jour par</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lessons %}
          <tr>
            <td>{{ lesson.id }}</td>
            <td>{{ lesson.type }}</td>
            <td>{{ lesson.title }}</td>
            <td>{{ lesson.price }} €</td>
            <td>
              {{ lesson.createdAt|date('d/m/Y') }}
            </td>
            <td>
              {{ lesson.updatedAt ? lesson.updatedAt|date('d/m H:i') : 'Jamais' }}
            </td>
            <td>x</td>
            <td>x</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="3">Aucune leçon trouvé.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="buy">
        <h1>Achats</h1>
        <h1>Liste des Paiements</h1>

        {% if payments is not empty %}
        <table>
          <thead>
            <tr>
              <th>ID du paiement</th>
              <th>Montant</th>
              <th>Statut</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for payment in payments %}
            <tr>
              <td>{{ payment.id }}</td>
              <td>
                {{ payment.amount_received / 100 }}
                {{ payment.currency | upper }}
              </td>
              <td>{{ payment.status }}</td>
              <td>{{ payment.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>Aucun paiement trouvé.</p>
        {% endif %}
      </div>
       <table>
        <H1>Utilisateur Certifiée</H1>
        <thead>
          <tr>
            <th>ID</th>
            <th>Certifiée</th>
            <th>Mis à jour</th>
          </tr>
        </thead>
        <tbody>

          <tr>
           
            {% for user in users|filter(user => 'ROLE_CERTIFICATE' in user.roles) %}
     <td>{{ user.username }}</td>
        <td>{{ user.roles|join(', ') }}</td>
           <td>
              {{ user.updatedAt ? user.updatedAt|date('d/m H:i') : 'Jamais' }}
            </td>

>
          </tr>
          {% else %}
          <tr>
            <td colspan="3">Aucun user trouvé.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
